body {
    /*background: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);*/
    /*background: linear-gradient(to top, #09203f 0%, #537895 100%);*/
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    color: darkorange;
}
.jumbotron {
    background: linear-gradient(to top, #09203f 0%, #537895 100%);

}


#movies img, #movie img {
    width: 100%;
}
@media(min-width: 960px){
    #movies .col-md-3 .well{
        height: 390px;
    }
    #movies .col-md-3 img{
        height: 240px;
    }
}